/* src/App.css */
.App {
  text-align: center;
}

.custom-button {
  background-color: #4CAF50; /* Zelena boja */
  border: none;
  color: white;
  padding: 20px 40px; /* Povećajte veličinu dugmeta */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; /* Povećajte veličinu fonta */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; /* Dodajte zaobljenje */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Dodajte 3D efekt */
}

.custom-button:hover {
  background-color: #45a049; /* Tamnija zelena boja */
}
